html {
    /* overflow: hidden; */
}

body {
    margin: 0px;
}

.container {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
    background-image: url("../images/weather-background.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed;*/
}

.logo {
    content: url("../images/logo.svg");
    position: absolute;
    width: 154.77px;
    height: 50px;
    left: 240px;
    top: 60px;
    background-color: #599edb;
}

.city-input {
    position: absolute;
    width: 552px;
    height: 60px;
    left: 240px;
    top: 184px;
    background: #9ecffb;
    /* opacity: 0.3; */
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-indent: 50px;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #646464;
}

.button-search {
    position: absolute;
    width: 256px;
    height: 60px;
    left: 832px;
    top: 184px;
    background: #09d7ec;
    /* opacity: 0.3; */
    border-radius: 40px;
    outline: none;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.search-error {
    position: absolute;
    width: 186px;
    height: 12px;
    left: 294px;
    top: 260px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #c24e4e;
}

.results {
    position: relative;
    width: 152px;
    height: 198px;
    left: 9%;
    top: 26%;
    text-align: center;
}

.images {
    background-color: rgb(30, 219, 228);
    /* opacity: 87%; */
    width: 112px;
    min-width: 154px;
    height: 150px;
    border-radius: 54px;
}

.days {
    background-color: rgb(99, 211, 222);
    width: 112px;
    min-width: 136px;
    padding: 10px;
    border-radius: 2px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}

.description {
    /* position: relative;
    height: 2px;
    top: -16%;
    max-width: 200px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #646464; */
    position: relative;
    top: -24%;
    left: 0.4%;
    min-width: 152px;
    border-radius: 2px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 16px;
    text-align: center;
}

.date-image {
    position: relative;
    width: 21px;
    height: 15px;
    left: -9%;
}

.drop-image {
    position: relative;
    width: 21px;
    height: 15px;
}

table {
    /* margin: 10px; */
    border-spacing: 62px 6px;
}

.logoutButton {
    position: absolute;
    width: 100px;
    height: 46px;
    left: 1200px;
    top: 62px;
    background: #09d7ec;
    /* opacity: 0.3; */
    border-radius: 40px;
    outline: none;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
