<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/src/views/assets/users.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

    <title>UsersData</title>
</head>

<body>

    <div class="container" id="app">
        <td>
            <!-- Create post-->
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Comment</a>
        </td>
        <p class="infoMess">{{dataMessage}}</p>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <form @submit.prevent="addPost()">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="title" v-model="title" name="title" type="text">
                            <input placeholder="body" v-model="body" name="body" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;">Cancel</a>
                        <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="Create" style="background-color: #26a69a;">
                    </div>
                </form>
            </div>
        </div>

        <div id="modal2" class="modal">
            <div class="modal-content">
                <form @submit.prevent="updatePost()">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="hidden" placeholder="postId" v-model="postId" name="id">
                            <input placeholder="title" v-model="title" name="title">
                            <input placeholder="body" v-model="body" name="body">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat" v-on:click="title = ''; postId = ''" style="background-color: #26a69a;">Cancel</a>
                        <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="update" style="background-color: #26a69a;">
                    </div>
                </form>
            </div>
        </div>

        <div id="modal3" class="modal">
            <div class="modal-content">
                <form @submit.prevent="deletePost()">
                    <p>
                        Post {{title}} will be deleted, you confirm this action ?
                    </p>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="hidden" placeholder="postId" name="id" v-model="postId">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;" v-on:click="title = ''; postId = ''">Сancel</a>
                        <input class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;" type="submit" value="delete">
                    </div>
                </form>
            </div>
        </div>


        <div class="">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>ID</th>
                        <th>Creation Time</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(post,index) in posts" :key="`postComponentKey + ${index}`">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <a v-bind:href="`/posts/${post._id}`">
                                {{post.title}}
                            </a>
                        </td>
                        <td>{{post.body}}</td>
                        <td>{{post._id}}</td>
                        <td>{{post.creation_date}} {{post.creation_time}}</td>
                        <td>
                            <!-- UPDATE post-->
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn modal-trigger" v-on:click="postId += post._id;title += post.title;body += post.body" href="#modal2">update</a>
                        </td>
                        <td>
                            <!-- Delete post-->
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn modal-trigger" v-on:click="postId += post._id; title += post.title" href="#modal3">delete</a>
                        </td>


                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>
    <script type="module" src="/src/views/scripts/singlePost.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>
